/dist/
/build/
/src/com/coolkev/syncedplay/Manual.aux
/src/com/coolkev/syncedplay/Manual.toc
/src/com/coolkev/syncedplay/Manual.pdf
/src/com/coolkev/syncedplay/Manual.log
/src/com/coolkev/syncedplay/Manual.dvi
